@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Squada+One&display=swap");
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,900');

:root {
  --colors1: #EEEEF0;
  --colors2: #262d36;
  --colors3: #f14141;
  --colors4: #D2153B;

  --colorbg: linear-gradient(0deg, var(--colors3) 0%, var(--colors4) 100%);
  --colorbg90: linear-gradient(90deg, var(--colors3) 0%, var(--colors4) 100%);
  --colorsbg_round: radial-gradient(circle, var(--colors3) 0%, var(--colors4) 100%);
  --colorbglack : linear-gradient(90deg, var(--colors2) 0%, var(--colorblack) 100%);
  --colorwhite: #F5F5F5;
  --colorblack: #283238;
}

body {
  background-color: var(--colors1);
  /*background: radial-gradient(circle, rgba(241,100,159,1) 0%, rgba(242,131,98,1) 100%);*/
  /*background: linear-gradient(180deg, rgba(120,174,154,1) 0%, rgba(245,245,245,1) 100%);*/
}

/*HEADING*/
h1,
h2 {
  color: var(--colorwhite);
}

select:hover {
  color: var(--colors3);
}

header {
  padding-top: 4%;
}

.header_title {
  color: var(--colors2);
}

option {
  color: var(--colorblack);
}


.start-ui {
  background-color: var(--colors2);
}

#start-btn {
  background-color: var(--colors2);
  background: var(--colorbg90);
  color: var(--colorwhite);
}


.overview::-webkit-scrollbar-track {
  background: transparent;
}

/*This is a match*/
.thisismatch {
  background-color: var(--colors2);
}

.NTMText h1 {
  color: var(--colors3);
  font-size: xx-large;
}

.NTMText {
  color: var(--colorwhite);
}


.NTMText h1 {
  background-image: var(--colorbg90);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}


.err-msg {
  background-color: var(--colors2);
  color: var(--colors1);
}

/*LOADING TEST TINDER*/


.sonar {
  background: var(--colorsbg_round);
  box-shadow: inset 0px 0px 0px 3px var(--colors3), inset 0px 0px 0px 6px var(--colors3);
}

.profile-pic {
  border: 3px solid var(--colors2);
  background-color: var(--colors2);

  background-image: url(../images/popcorn-logo__white.png)

}

.gauge__body {
  background: var(--colors1);
}

.gauge__fill {
  background: var(--colors3);
}


.gauge__cover {
  background: var(--colors2);
}


.test {
  background: var(--colors2);
}

/*Title + description*/


.card__image {
  background: #9e988d;
  color: var(--colorwhite);
}


.card__header {
  background: var(--colorbg90);
}

/*path corner*/
.card__arc path {
  fill: var(--colors4);
}

.card__thumb {
  background: var(--colors1);
}

.card__status {
  color: var(--colors2);
}

.card__description {
  color: var(--colors1);
  background-color: var(--colors2);
}

.btn2 {
  background-color: var(--colorwhite);
}

/*a changer*/
.btn2 svg {
  width: 50%;
}



.btn2:hover {
  transform: scale(1.1);
}

#genre option:checked {
  background-color: var(--colors3);
  background: var(--colorbg90);
  color: var(--colorwhite);
}

select option:hover {
  background-color: var(--colors1);
}

.purple-heart {
  color: var(--colors4);
}

.purple-heart:nth-child(even) {
  color: var(--colors3);
}

/*Footer*/
footer a {
  background-image: var(--colorbg90);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

footer a:hover {
  text-decoration: none;
  border-bottom: 1px solid var(--colors3);
}


.slider-image-wrapper::before {
  background-color: var(--colors3);
  background: var(--colorbg);
  z-index: -1;
}

.slider-item {
  background-color: var(--colors2);
}

.swiper-pagination-bullet {
  background: var(--colors1);
}

.swiper-pagination-bullet-active {
  background: var(--colorbg90);
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--colorwhite);
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  border-radius: 0;
}

.swiper-button-next::before {
  background: var(--colorbg);
}

.swiper-button-prev::before {
  background: var(--colorbg);
}



/*swipper*/
.swipper-start {
  background-color: var(--colors2);
  color: var(--colors1);
}

.button_swipper,
.button_returnback {
  background: var(--colorbg90);
  color: var(--colorwhite);
}


.none {
  display: none;
}

option:checked {
  background-color: var(--colors3);
}

/*Share button*/
.share2 a {
  background: var(--colors3);
}

.share2 span {
  color: var(--colorwhite);
}

/*#toggleSeemoreButton{
  background: var(--colorbg90);
  color: var(--colors1);
}*/

.prev_next button:hover{
  border-bottom: 1px solid var(--colors3);
  border-radius: 0%;
  transition: opacity 3s ease-in-out;
}

form h1 {
  color: var(--colorwhite);
  font-weight: 400;
  font-size: larger;
}

.card__status {
  background-image: var(--colorbglack);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

/*PROFIL*/

.button_input {
  background: var(--colorbg90);
  color: white;
}


.headerProfil {
  background-color: var(--colorwhite);
}

.rond {
  background-color: var(--colorwhite);
}

.grid-item {
  background-color: var(--colors2);
  color: var(--colorwhite);
}

.grid-item h2{
  color: var(--colorwhite);
}

.form_container {
  background-color: var(--colors2);
}

.circle-orange {
  background-color: pink;
}

.circle-plum {
  background-color: var(--colors2);
}


.circle-blue {
  background-color: blue;
}