@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Squada+One&display=swap");
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,900');

:root {
  --colors4: #36363C;
  --colors1: #1E1F22;
  --colors2: #ff7951;
  --colors6: #f64790;
  --colorbg: linear-gradient(60deg, #f64790 0%, #ff7951 100%);
  --colorbg90: linear-gradient(90deg, #f64790 0%, #ff7951 100%);
  --colorsbg_round: radial-gradient(circle, #f64790 0%, #ff7951 100%);
  --colors3: #F5F5F5;
  --colors5: #2B2D31;
  --colorwhite: #000;
  --colorblack: #F5F5F5;

}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--colors5);
  /*background: linear-gradient(180deg, rgba(120,174,154,1) 0%, rgba(245,245,245,1) 100%);*/
}

/*HEADING*/
h1,
h2 {
  font-family: 'Montserrat', sans-serif;
}

form h1 {
  color: var(--colorblack);
  font-weight: 400;
  font-size: larger;
}

.NTMText h1 {
  color: var(--colors3);
  font-size: xx-large;
}

form h2 {
  color: var(--colorblack);
  font-weight: 400;
}

.header_title {
  color: var(--colorblack);
}

.test32 h2,
.test32 h1 {
  color: var(--colorblack);

}


h3,
footer {
  color: var(--colorblack);
}

select:hover {
  color: var(--colors3);
}

option {
  color: var(--colorblack);
  font-size: x-small;
}


.start-ui {
  background-color: var(--colors1);
}

#start-btn {
  background-color: var(--colors5);
  color: var(--colorblack);
}

/* > */
.movie-data .bar {
  border-bottom: 0.0625rem solid #999;
}

.btn {
  background-color: lightgray;
}

.btn:active {
  background-color: var(--colors3);
}

.overview::-webkit-scrollbar-track {
  background: transparent;
}

/*This is a match*/
.thisismatch {
  background-color: var(--colors1);
}

.NTMText h1 {
  color: var(--colors2);
}

.NTMText h1 {
  background-image: var(--colorbg);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.err-msg {
  background-color: var(--colors2);
  color: var(--colorwhite);
}

.none {
  display: none;
}


/*LOADING TEST TINDER*/
.sonar {
  background: var(--colorsbg_round);
  box-shadow: inset 0px 0px 0px 3px var(--colors2), inset 0px 0px 0px 6px var(--colors5);
}

.loading h1{
  color: var(--colorblack);
}


.profile-pic {
  border: 3px solid var(--colors1);
  background-image: url(../images/popcorn-logo.png);
  background-color: var(--colorbg);
}

/*Gauge Test*/

.gauge__body {
  background: var(--colors3);
}

.gauge__fill {
  background: linear-gradient(90deg, var(--colors2) 0%, var(--colors2) 100%);
}

.gauge__cover {
  background: var(--colors1);
}

.test {
  background: var(--colors1);
}

.card {
  background-color: var(--colorwhite);
}

.card__image {
  background: linear-gradient(154deg, var(--colors2) 0%, var(--colors6) 50%, var(--colors6) 80%);
  color: var(--colorblack);
}

.card__overlay {
  background-color: var(--colors4);
}

.card__header {
  background-color: var(--colorwhite);
  background-color: var(--colors4);
}

.card__arc path {
  fill: var(--colors4);
}

.subheading{
  color: var(--colorblack);
}

.card__thumb {
  background: var(--colorbg);
}


.card__status {
  color: var(--colors2);
}

.card__description {
  color: var(--colorblack);

}

.btn2 {
  background-color: var(--colors4);
}

.btn2:active {
  background-color: var(--colors3);
}

#genre option:checked {
  background-color: var(--colors5);
}

select option:hover {
  background-color: var(--colors1);
}

.purple-heart {
  color: var(--colors6);
}

.purple-heart:nth-child(even) {
  color: var(--colors2);
}


/*Footer*/
footer a {
  background-image: var(--colorbg);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

footer a:hover {
  color: var(--colors2);
  text-decoration: none;
  border-bottom: 1px solid var(--colors3);
}

.slider-image-wrapper::before {
  background-color: var(--colors2);
  background: var(--colorbg);
}


.slider-item {
  background-color: var(--colors1);
}

.slider-item-title {
  color: var(--colorblack);

}

.slider-item-content {
  color: var(--colorblack);
}


.swiper-pagination-bullet {
  background: var(--colors3);
}

.swiper-pagination-bullet-active {
  background: var(--colors5);
}

.swiper-button-next,
.swiper-button-prev {
  background-color: transparent;
  color: var(--colorblack);
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  border-radius: 0;
}

.swiper-button-next::before {
  background: var(--colorbg);
}

.swiper-button-prev::before {
  background: var(--colorbg);
}


/*swipper*/
.swipper-start {
  background-color: var(--colors1);
}

.button_swipper,
.button_returnback {
  background-color: var(--colors5);
  color: var(--colorblack);
}

/* Set background and text color for the select element */
select {
  background-color: var(--colors5);
  color: #fff;
}

/* Set background and text color for the options */
option {
  background-color: var(--colors5);
  color: #fff;
}

/* Set background and text color for the dropdown arrow */
select::-ms-expand {
  color: #fff;
}

option:checked {
  background-color: var(--colors2) !important;
}


/* Set hover effect for the options */
option:hover {
  background: var(--colorbg);
}

/* Set active effect for the options */
option:checked {
  background-color: var(--colors2);
}



.share2 a {
  background: var(--colors6);
}

.share2 span {
  color: var(--colorwhite);
}

/*#toggleSeemoreButton{
  background: var(--colorbg);
  color: var(--colorwhite);
}*/

.movie-item {
  color: var(--colorblack);
}

.prev_next button{
  color: var(--colorblack);
}


form h1 {
  color: var(--colorblack);
  font-weight: 400;
  font-size: larger;
}

.card__age{
  color: var(--colorblack);
}

.card__status {
  background-image: var(--colorbg);
}

/*PROFIL*/

.button_input {
  background: var(--colorbg90);
  color: var(--colorblack);
}


.headerProfil {
  background-color: var(--colors1);
}

.rond {
  background-color: var(--colors1);
}

.grid-item {
  background-color: var(--colors1);
  color: var(--colorblack);
}

.form_container {
  background-color: var(--colors4);
}

.circle-orange {
  background-color: pink;
}

.circle-plum {
  background-color: var(--colors4);
}

.circle-blue {
  background-color: blue;
}