@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Squada+One&display=swap");
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,900');

:root {
  --colors1: #172026;

  --colors2: #ffd92f;
  --colors3: #757575;
  --colors4: #262d36;
  --colors5: #75818a;

  --colorbg: linear-gradient(0deg, #fff52f 0%, #d2a800 100%);
  --colorbg90: linear-gradient(90deg, #d4ad14 0%, #bf9901 100%);

  --colorsbg_round: radial-gradient(circle, #fff52f 0%, #d2a800 100%);

  --colorwhite: #e9e9e9;
  --colorblack: #283238;
  --colorgrey: #283238;


}

body {
  background-color: var(--colors5);
}

/*HEADING*/
h1,
h2 {
  color: var(--colorblack);
}

.header_title {
  color: var(--colorwhite);
}

select:hover {
  color: var(--colors3);
}


header {
  padding-top: 4%;
}

option {
  color: var(--colorblack);
}


.start-ui {
  background-color: var(--colorwhite);
  color: var(--colorblack);
}

#start-btn {
  background-color: var(--colors2);
  background: var(--colorblack);
  color: var(--colorwhite);
}


.overview::-webkit-scrollbar-track {
  background: transparent;
}

/*This is a match*/
.thisismatch {
  background-color: var(--colorwhite);
}

.NTMText h1 {
  color: var(--colors3);
  font-size: xx-large;
}

.NTMText {
  color: var(--colorblack);
}


.NTMText h1 {
  background-image: var(--colorbg90);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}


.err-msg {
  background-color: var(--colors2);
  color: var(--colors1);
}

/*LOADING TEST TINDER*/
.sonar {
  background: var(--colorsbg_round);
  box-shadow: inset 0px 0px 0px 3px var(--colors3), inset 0px 0px 0px 6px var(--colors2);
}

.loading h1 {
  color: var(--colorwhite);
}

.profile-pic {
  border: 3px solid var(--colors3);
  background-color: var(--colorbg90);
  background-image: url(../images/popcorn-logo.png)
}

.text_loader {
  color: var(--colorwhite);
}

.gauge__body {
  background: var(--colorwhite);
}

.gauge__fill {
  background: var(--colors2);
}


.gauge__cover {
  background: var(--colorwhite);
}


.test {
  background: var(--colorwhite);
}

/*Title + description*/
.card__image {
  background: var(--colors4);
  color: var(--colorwhite);
}

.card__header {
  background-color: var(--colorwhite);
}

/*path corner*/
.card__arc path {
  fill: var(--colorwhite);
}

.card__thumb {
  background-color: var(--colors5);
  background: var(--colorbg90);
}

.card__status {
  color: var(--colors3);
}

.card__description {
  color: var(--colorblack);
  background-color: var(--colorwhite);
}

.btn2 {
  background-color: var(--colorwhite);
}

/*a changer*/
.btn2 svg {
  width: 50%;
}

.btn2:active {
  background-color: var(--colors3);
}

#genre option:checked {
  background-color: var(--colors5);
  background: var(--colorbg90);
  color: var(--colorwhite);
}

select option:hover {
  background-color: var(--colors1);
}

.purple-heart {
  color: var(--colors2);
}

.purple-heart:nth-child(even) {
  color: var(--colors3);
}

/*Footer*/
footer {
  color: var(--colorwhite);
}

footer a {
  background-image: var(--colorbg90);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

footer a:hover {
  text-decoration: none;
  border-bottom: 1px solid var(--colors3);
}

.slider-image-wrapper::before {
  background-color: var(--colors3);
  background: var(--colorbg);
  z-index: -1;
}

.slider-item {
  background-color: var(--colorwhite);
}

.swiper-pagination-bullet {
  background: var(--colors3);
}

.swiper-pagination-bullet-active {
  background: var(--colors1);
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--colorblack);
}

/*swipper*/
.swipper-start {
  background-color: var(--colorwhite);
}

.button_swipper,
.button_returnback {
  background: var(--colorblack);
  color: var(--colorwhite);
}

.none {
  display: none;
}

option:checked {
  background-color: var(--colors3);
  color: var(--colorblack);
}

select {
  background-color: var(--colors5);
  color: var(--colorblack);
}

option {
  background-color: var(--colors5);
  color: var(--colorwhite);
}

select::-ms-expand {
  color: var(--colorblack);
}

option:checked {
  background-color: var(--colors3) !important;
  color: var(--colorblack) !important;
}

/* Set hover effect for the options */
option:hover {
  background: var(--colors3);
  color: var(--colorwhite);
}

/* Set active effect for the options */
option:checked {
  background-color: var(--colors2);
  color: var(--colorblack);
}

/*Share button*/
.share2 a {
  background: var(--colorblack);
}

.share2 span {
  color: var(--colors2);
}

.delete-button {
  color: var(--colors1);
}

.movie-item {
  color: var(--colorwhite);
}

.prev_next button {
  color: var(--colorwhite);
}

.prev_next button:hover {
  border-bottom: 1px solid var(--colors2);
  border-radius: 0%;
  transition: opacity 3s ease-in-out;
}

form h1 {
  color: var(--colorblack);
  font-weight: 400;
  font-size: larger;
}

/*PROFIL*/
.button_input {
  background: var(--colorbg90);
  color: var(--colorwhite);
}

.headerProfil {
  background-color: var(--colorwhite);
}

.rond {
  background-color: var(--colorwhite);
}

.grid-item {
  background-color: var(--colorwhite);
}

.form_container {
  background-color: var(--colorwhite);
}

.circle-plum {
  background-color: var(--colorwhite);
}
