@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Squada+One&display=swap");
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,900');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;800&display=swap');


body {
  font-family: "Poppins", sans-serif;
  background-color: #D5E1E1;
  /*background: linear-gradient(180deg, rgba(120,174,154,1) 0%, rgba(245,245,245,1) 100%);*/
}



/*HEADING*/
h1 {
  font-family: 'Montserrat', sans-serif;
  color: #283238;
  font-size: 3.5rem;
  margin: 0;
  text-align: center;
  font-weight: 600;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #283238;
  font-size: 18px;
  margin: 0;
  text-align: center;
  font-weight: 400;
}


.header_title {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  margin: 0;
  text-align: center;
  position: relative;
  z-index: 3;
  color: #283238;
  letter-spacing: -4px;
  left: -10px;
}

.log_title {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 3;
  color: #283238;
  letter-spacing: -4px;
  left: 25px;
}


.subheading {
  max-width: 200px;
  text-align: left;
  text-transform: uppercase;
  font-weight: 600;
  margin-left: 12px;
  font-size: smaller;
}

.card__age {
  position: absolute;
  right: 10%;
}


h3 {
  font-size: 16px;
  text-align: center;
  margin: 0.8rem;
  font-weight: 400;
}

footer {
  font-size: 14px;
  text-align: center;
  margin: 0.8rem;
  font-weight: 400;
}


h4 {
  text-align: center;
  font-size: 10px;
  font-weight: lighter;
}

.mini_button_text {
  height: 30px;
  width: 30px;
}

input,
select {
  font-family: inherit;
  border-radius: 15px;
  border: none;
  padding: 5px;
  width: 100%;
  font-size: 16px;
  transition: all 300ms ease-in-out;
  padding-left: 5%;
  margin-bottom: 2%;
}

select:hover {
  color: #D7E1E1;
}

main {
  min-height: 90vh;
  display: grid;
  place-items: center;
}

input:focus+label,
input:focus,
select:focus,
button:focus,
.overview:focus {
  outline: none;
  border: none;
}

header {
  padding-top: 4%;
}
.welcome_header{
  transform: translate(42px, 18px);
}
option {
  color: black;
  font-size: x-small;
}


.start-ui {
  padding: 3% 5%;
  background-color: #F5F5F5;
  border-radius: 40px;
  margin: 0 5%;
  display: none;
  overflow-x: hidden;
}

.movie-data {
  display: flex;
  flex-direction: column;
}

#start-btn {
  cursor: pointer;
  background-color: black;
  color: #F5F5F5;
  width: 60%;
  display: block;
  margin: auto;
  padding: 10px;
  font-weight: bold;
  margin-top: 1rem;
}

label:hover,
#start-btn:hover {
  transform: scale(1.1);
}

/* > */
.movie-data .bar {
  position: relative;
  border-bottom: 2rem inset yellow;
  height: 100%;
}

.show-match {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100%;
}

.match-ui {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  display: flex;
  margin-top: 2%;
}

.movie-info {
  font-size: 0.9rem;
}

.movie-info p {
  margin: 0.5rem;
}

.overview {
  max-height: 90px;
  overflow-y: auto;
  padding-bottom: 10px;
  font-size: 0.85rem;
  line-height: 1.8;
}

.overview::-webkit-scrollbar {
  width: 8px;
}

.overview::-webkit-scrollbar-track {
  background: transparent;
}

.overview::-webkit-scrollbar-thumb {
  background-color: blueviolet;
  border-radius: 40px;
  max-height: 2px;
}


/*This is a match*/
.thisismatch {
  margin: 10%;
  display: none;
  border-radius: 25px;
  /*background-color: black;*/
  background-color: #F5F5F5;
  padding: 3% 5%;
  margin: 0 5%;
}

#moviesListContainer {
  max-width: 100%;
  margin-top: 20px;
  display: block;
  animation: opacity 1.5s ease-in-out;
}

.movie-item {
  display: inline-flex;
  align-items: center;
  position: relative;
  justify-content: center;
  margin-left: 10px;
}

.movie-item img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-size: cover;

}

.movie-item p {
  margin: 0;
  position: absolute;
  top: 50px;
  font-size: 7px;
  padding-top: 10px;
  text-overflow: ellipsis;
}

.movie-item p:hover {
  overflow: initial;
  text-overflow: initial;
}

.delete-button {
  position: absolute;
  top: 0;
  left: 33px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  z-index: 2;
  border: none;
  background: var(--colorbg);
  color: var(--colorwhite);
  font-weight: 500;
  font-size: x-small;
}

#toggleSeemoreButton {
  width: 80px;
  font-weight: 400;
  position: absolute;
  transition: opacity 0.3s ease-in-out;
  border: none;
  border-radius: 10px;
  font-size: xx-small;
  cursor: pointer;
  background-color: transparent;
  opacity: 0.3;
  fill: var(--colorblack);
}

#toggleSeemoreButton:hover {
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}


.prev_next {
  position: relative;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin-top: 35px;

}

.prev_next button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  color: black;
  border-radius: 10px;
  font-size: 10px;
  font-weight: 600;
  transition: opacity 3s ease-in-out;

}


.prev_next button:hover {
  border-bottom: 1px solid var(--colorblack);
  border-radius: 0%;
  transition: opacity 3s ease-in-out;
}

.seemore {
  display: none;
  opacity: 0;
  transition: opacity 3s ease-in-out;
}

.seemore.visible {
  display: block;
  opacity: 1;
  transition: opacity 3s ease-in-out;
}

.NTMatch {
  position: relative;
  height: 180px;
  background-color: transparent;
}

.NTMText h1 {
  color: #D7E1E1;
  font-size: xx-large;
  letter-spacing: -2px;
  padding-top: 6%;
  width: 250px;
}

.NTMText {
  color: black;
  padding: 3%;
}

.NTMText h3{
  width: fit-content;
  font-size: medium;
}

/*Loader*/
.loader {
  display: none;
  border-radius: 50%;
}

.loading {
  width: 200px;
  height: 200px;
  display: block;
  margin: auto;
}

.loading h1 {
  position: relative;
  color: black;
  z-index: 4;
  letter-spacing: -4px;
  transform: translate(-10%, -90%);
}

.random-fact {
  font-size: 0.9rem;
}

.err-msg {
  background-color: black;
  color: #F5F5F5;
  padding: 0.5rem;
  text-align: center;
  border-radius: 40px;
}

.none {
  display: none;
}

@media (max-width: 600px) {
  h1 {
    font-size: 2.8rem;
  }

  .show-match {
    flex-direction: column;
  }

  .display-movie {
    margin-left: initial;
    margin-top: 2rem;
  }

  .btn {
    font-size: 0.7rem;
    width: 7.2rem;
    height: 2.2rem;
  }

  .loader {
    padding: 3rem;
  }

  .loading {
    width: 120px;
    height: 120px;
  }
}

/*LOADING TEST TINDER*/
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text_loader {
  margin-top: 55%;
  position: relative;
  z-index: 1;
  margin-left: auto;
  width: 100%;
}

.sonar {
  z-index: 0;
  background-color: #dde9ed;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: inset 0px 0px 0px 3px #ddebef, inset 0px 0px 0px 6px #e7ebed;
  opacity: 0.7;
  transition: all 3.5s ease-in-out;
  animation: grow 3.5s infinite forwards;
}

.profile-pic {
  z-index: 2;
  border: 3px solid var(--colors1);
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-image: url(../images/popcorn-logo.png);
  background-size: 80%;
  background-color: var(--colors1);
  background-repeat: no-repeat;
  background-position: center;
}

.delay {
  animation-delay: 0.5s;
}

@keyframes grow {
  0% {
    width: 100px;
    height: 100px;
    opacity: 0.7;
  }

  100% {
    width: 450px;
    height: 450px;
    opacity: 0;
  }
}

/* Form Styles */
.form {
  max-width: 610px;
  margin: 60px auto;
}

.test32 h1 {
  font-weight: 600;
}

.form__header {
  margin-bottom: 20px;
  border-bottom: 1px dashed rgba(#F5F5F5, .15);
}

.form__title {
  font-size: 45px;
  margin: 10px 0;
}

.form__instruction {
  font-size: 20px;
}

.form__options {
  border: none;
  padding: 0;
}

.form__question {
  font-size: 16px;
}

.form__answer {
  display: inline-block;
  box-sizing: border-box;
  width: 23%;
  margin: 20px 1% 20px 0;
  height: 100px;
  vertical-align: top;
  font-size: 7px;
  text-align: center;
}

label {
  border: 1px solid rgba(#F5F5F5, .15);
  box-sizing: border-box;
  display: block;
  height: 100%;
  width: 100%;
  padding: 10px 10px 30px 10px;
  cursor: pointer;
  opacity: .5;
  transition: all 4s ease-in-out;
}

label:hover,
label:focus,
label:active {
  border: 1px solid rgba(#F5F5F5, .5);
}


.form__button {
  height: 40px;
  border: none;
  background-color: #00703f;
  color: #F5F5F5;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 0 20px;
  border-radius: 20px;
  font-weight: 900;
  cursor: pointer;
  margin: 40px 0;
  transition: all .25s ease-in-out;
}

.form__button:hover,
.form__button:focus {
  background-color: #00824A;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .25);
  outline: none;
}

/* Input style */
input[type="radio"] {
  opacity: 0;
  width: 0;
  height: 0;
}

input[type="radio"]:active~label {
  opacity: 1;
}

input[type="radio"]:checked~label {
  opacity: 1;
  border: 1px solid #F5F5F5;
}

.movie-poster2 {
  position: relative;
  border-radius: 40px 40px 50% 50% / 40px 40px 35% 35%;
  background-size: contain;
  width: 49%;
  max-width: 390px;
  transform: translate(0px, 5%);
  z-index: 2;
  transition: all 300ms ease-in-out;
}

/*Gauge Test*/
.gauge {
  position: relative;
  width: 60%;
  /*transform: translate(43px, -55%);*/
  margin-top: -24%;
  margin-left: 20%;
  z-index: 1;
}

.gauge__body {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  background: #F5F5F5;
  border-top-left-radius: 100% 200%;
  border-top-right-radius: 100% 200%;
  overflow: hidden;
  transform: rotate(180deg);
}

.gauge__fill {
  position: absolute;
  top: 100%;
  left: 0;
  width: inherit;
  height: 100%;
  background: linear-gradient(90deg, #D7E1E1 0%, #F5F5F5 100%);
  transform-origin: center top;
  transform: rotate(0.25turn);
  transition: all 300ms ease-in-out;
}

.gauge__cover {
  width: 95%;
  height: 190%;
  background: #F5F5F5;
  border-radius: 50%;
  position: absolute;
  top: 6%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.gauge__text_content {
  padding: 4%;
}

.test {
  position: relative;
  background: #F5F5F5;
  justify-content: center;
  flex: 1;
  border-radius: 15px;
}

/*Title + description*/

.card {
  position: relative;
  display: block;
  height: 300px;
  border-radius: calc((40) * 1px);
  overflow: hidden;
  text-decoration: none;
  margin-top: -35%;
  border-radius: 40px 40px 15px 15px;
}

.card__thumb svg{
  fill: var(--colorwhite);
}

.card__image {
  position: absolute;
  content: "";
  width: 100%;
  height: 90%;
  background: rgb(120, 174, 154);
  background: linear-gradient(194deg, #D7E1E1 0%, rgba(245, 245, 245, 1) 100%);
  color: black;
  z-index: 0;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  border-radius: 40px 40px 0 0;
  transform: translateY(100%);
  transition: .2s ease-in-out;
  height: 100%;
  background-color: var(--colorwhite);
}

.display-movie2:hover .card__overlay {
  transform: translateY(0);
  height: 100%;
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: calc((40) * 1px) 0 0 0;
  background-color: #F5F5F5;

  transform: translateY(-100%);
  transition: .2s ease-in-out;
  padding: 1%;
  height: 30%;
  border: 2px;

}

/*path corner*/
.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;
}

.card__arc path {
  fill: #f5f5f5;
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.display-movie2:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin: 0 1% 0 5%;
  background-size: cover;
  background-color: #D7E1E1;
  padding: 5px
}

.card__status {
  font-size: 10px;
  color: rgb(207, 163, 106);
  text-align: left;
  margin-left: 13px;
  margin-top: 0;
}

.card__description {
  position: relative;
  color: black;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  font-size: 12px;
  text-align: left;
  height: 100%;
  margin-top: -10px;
}

.scroller {
  height: 60%;
  overflow-y: scroll;
  scrollbar-width: thin;
  text-align: justify;
  margin: 1%;
  padding: 3%;
}

.card__overview{
  height: 100%;
  padding: 1%;
}

.btn2 {
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 40px;
  background-color: #F5F5F5;
  font-family: inherit;
  font-size: 0.85rem;
  font-weight: bold;
  border: none;
  margin: 0.25rem 0;
  transition: all 300ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn2 svg {
  width: 50%;
}

.btn2:nth-child(2) {
  width: 70px;
  height: 70px;
}

.btn2:not(:last-child) {
  margin-right: 2rem;
}

.btn2:hover {
  transform: scale(1.1);
}

.btn2:not(:nth-child(2)):hover svg {
  transition: all 3.5s ease-in-out;
  animation: pulse 1.5s infinite forwards;
}

.btn2:last-child:hover svg {
  animation: pulse 1.5s infinite forwards, fillHeart 0.5s forwards;
}

@keyframes fillHeart {
  0% {
    fill: none;
    stroke: url(#heartStrokeGradient);
  }

  100% {
    fill: url(#heartGradient);
    stroke: url(#heartStrokeGradient);
  }
}

#heartGradient {
  stop-colors: #B2E9D6, #4b806c;
}

@keyframes opacity {
  0% {

    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    opacity: 0.7;
  }

  100% {
    transform: scale(1.3);
  }
}

.btn2:active {
  background-color: gray;
}

option {
  padding-left: 15%;
  font-size: 14px;
}

#genre option:checked {
  background-color: #c8a2c8;
  border-radius: 20px;
    font-size: 14px;

}

select option:hover {
  background-color: #D5E1E1;
  border-radius: 20px;
}

.purple-heart {
  border-radius: 50%;
  padding: 10px;
  opacity: 0.8;
  /*heart behing*/
  position: relative;
  z-index: -1;
}

.purple-heart:hover {
  transform: scale(1.5);
  transition: all 5s ease-in-out;
}

/*heart footer*/
.heart {
  position: fixed;
  top: -1vh;
  font-size: 2rem;
  transform: translateY(0);
  animation: fall linear forwards;
  animation-duration: 7s;
}

@keyframes fall {
  0% {
    transform: translateY(100vh);
    opacity: 1;
  }

  100% {
    transform: translateY(-200vh);
    opacity: 0.6;
  }
}

/*Footer*/
footer a {
  text-decoration: none;
  color: transparent;
  transition: all 3s ease-out;
}

footer a:hover {
  text-decoration: underline;
}

footer p {
  line-height: 0;
  font-size: xx-small;
}

/*slider*/
.slider-item-title {
  margin: 0;
  font-weight: 600;
  transform: translateY(20px);
  transition: all .4s ease;
  transition-delay: .2s;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

p {
  font-size: 14px;
  transition: all .4s ease;
  transition-delay: .3s;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 1;
  position: relative;
}

/*swipper boxxxx */
.swiper-container {
  /*box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;*/
  width: 100%;
  position: relative;
  max-width: 420px;
  height: 100%;
  border-radius: 10px;
  overflow-x: hidden;
  padding: 2%;
}

.slider-image-wrapper svg,
.slider-image-wrapper img {
  width: 60%;
  overflow: hidden;
  display: block;
  margin: 0 auto;
  border-radius: 15px;
}

.slider-image-wrapper .image_wrapper2 {
  width: 35%;
  top: -5%;
  transform: translate(-0%, 7%);
}

.slider-image-wrapper::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #D7E1E1;
  z-index: -1;
}

.slider-item {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  opacity: 0;
  cursor: grab;
  background-color: #F5F5F5;
}

.slider-item-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: .4s;
}

.slider-item-content>* {
  opacity: 0;
  transform: translateY(20px);
}

.swiper-slide-active .slider-item-content>* {
  transform: translateY(0px);
  opacity: 1;
}

.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 3s;
}

.swiper-pagination {
  position: relative;
  text-align: center;
  z-index: 1;
  width: auto !important;
}

.swiper-pagination-bullet {
  border-radius: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  line-height: 30px;
  font-size: 12px;
  opacity: 1;
  background: #D7E1E1;
  display: inline-block;
  margin-right: 8px;
  cursor: pointer;
  transition: all 0.2s;
}

.swiper-pagination-bullet-active {
  background: #779696;
  width: 20px;
  border-radius: 10px;
}

.slider-buttons {
  display: flex;
  top: 100%;
  justify-content: flex-end;
  width: 100%;
  margin-top: 10px;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  color: black;
  position: relative;
  margin-left: 4px;
  font-size: 12px;
  border-radius: 10px;
  font-weight: 600;
}

.swiper-button-next::before {
  content: '';
  position: absolute;
  background-color: black;
  height: 1px;
  width: 0;
  left: 0;
  /*transform: translatey(-50%);*/
  bottom: -1px;
  transition: 0.2s;
}

.swiper-button-prev::before {
  content: '';
  position: absolute;
  background-color: black;
  height: 1px;
  width: 0;
  right: 0;
  /*transform: translatey(-50%);*/
  bottom: -1px;
  transition: 0.2s;
}

.swiper-button-next:hover::before,
.swiper-button-prev:hover::before {
  width: 100%;
}

.test32 {
  margin-top: 4%;
  display: block;
  justify-content: center;
}

/*swipper*/
.swipper-start {
  display: block;
  background-color: #F5F5F5;
  border-radius: 40px;
}

.button_swipper,
.button_returnback {

  align-content: center;
  cursor: pointer;
  background-color: black;
  color: #F5F5F5;
  width: 60%;
  display: block;
  margin: auto;
  padding: 10px;
  font-weight: bold;
  margin-top: 1rem;
  border-radius: 10px;
  border: none;
  transition: all 300ms ease-in-out;
}

/***test*/
.style_button {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.share {
  position: relative;
  width: 260px;
  margin-top: 5%;
  align-content: center;
}

.share span {
  width: 100px;
  line-height: 30px;
  display: inline-block;
  font-weight: 600;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
  color: white;
}

.share nav {
  font-size: 0;
}

.share a {
  line-height: 30px;
  width: 70px;
  text-align: center;
  display: inline-block;
  background-color: black;
  overflow: hidden;
  opacity: 1;
  transition: all 0.3s ease-in-out;
  margin: 0 -20px;
}

.share a:nth-child(1) {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-left: 0;
}


.share a:nth-child(4) {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-right: 0;
}

.share:hover span,
.share.hover span {
  opacity: 0;
}

.share:hover a,
.share.hover a {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 10px;
  color: #fff;
  font-size: 28px;
}

.share a:hover {
  color: #fff;
}

/* share2 header */

.share2 {
  position: relative;
  align-items: center;
  align-content: center;
  display: flex;
}

.center-content {
  display: flex;
  justify-content: center;
}

#toggleSeemoreButton {
  transform: translate(250%, 80%);
  transition: opacity 0.3s ease-in-out;

}

.sign, .signout{
  transform: translate(-5.8rem, 35%);
  opacity: 1;
}

.sign svg, .signout svg{
  opacity: 0.4;
  fill: var(--colorblack);
}

.sign svg:hover, .signout svg:hover {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}


.share2 span {
  width: 40px;
  line-height: 20px;
  display: inline-block;
  font-weight: 400;
  position: absolute;
  left: 30%;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
  font-size: xx-small;
  background-color: transparent;
}

.share2 nav {
  font-size: 0;
  background-color: transparent;
}

.share2 a {
  line-height: 20px;
  text-align: center;
  display: inline-block;
  background-color: transparent;
  overflow: hidden;
  opacity: 1;
  transition: all 0.5s ease-in-out;
  margin: 0 -20px;
}

.share2 a:nth-child(1) {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-left: 0;
}

.share2:hover a:nth-child(1) {
  background: linear-gradient(60deg, #ff7951 0%, #f64790 100%);

}

.share2:hover a:nth-child(2) {
  background: linear-gradient(60deg, #262d36 0%, #000000 100%);
}

.share2 a:nth-child(3) {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-right: 0;
}

.share2:hover a:nth-child(3) {
  background: linear-gradient(90deg, #f14141 0%, #d10b33 100%);
}

.share2:hover span,
.share2.hover span {
  opacity: 0;
}

.share2:hover a,
.share2.hover a {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 5px;
  color: #fff;
  font-size: 28px;
}

.share2 a:hover {
  color: #fff;
}

/*swipper*/
.swipper-start {
  display: block;
  background-color: var(--colorwhite);
  border-radius: 40px;
  padding: 5%;
  margin: 0 10%;
}

.button_swipper,
.button_returnback {

  align-content: center;
  cursor: pointer;
  background-color: var(--colors2);
  color: var(--colors1);
  width: 60%;
  display: block;
  margin: auto;
  padding: 10px;
  font-weight: bold;
  margin-top: 1rem;
  border-radius: 10px;
  border: none;
  transition: all 300ms ease-in-out;
}

.button_swipper:hover,
.button_returnback:hover {
  transform: scale(1.1);
}

option:checked {
  background-color: black;
}

.genre {
  width: 20%;
  text-align: center;
  font-size: xx-small;
  cursor: default;
  color: #000000;
}

.card__status {
  background-image: var(--colorbg);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.itsmatch_imglogo {
  position: absolute;
  z-index: 1;
  width: 25%;
  /* Ajustez la taille en pourcentage selon vos besoins */
  max-width: 85px;
  /* Limitez la largeur maximale de l'image */
  top: 60%;
  background: var(--colorbg);
  border-radius: 50%;
  transition: opacity 0.3s ease-in-out;
  transform: translate(3%, 8%);

}

.itsmatch_movie {
  position: absolute;
  /* Ajustez la taille en pourcentage selon vos besoins */
  width: 35%;
  max-height: 200px;
  max-width: 100px;
  border-radius: 5px;
  background-size: contain;
  border: 5px solid var(--colors1);
  border-radius: 15px;
  transform: translate(-80%, -40%) rotate(-8deg);
}

.hidden {
  display: none;
}

.nav a {
  border-radius: 50%;
}

.nav a:nth-child(1) {
  background: linear-gradient(60deg, #ff7951 0%, #f64790 100%);
  border: 3px outset white;
}

.nav a:nth-child(2) {
  background: linear-gradient(60deg, #30CD90 0%, #21A6C4 100%);
  border: 3px outset #000000;
}

.nav a:nth-child(3) {
  background: linear-gradient(60deg, #fff52f 0%, #d2a800 100%);
  border: 3px outset white;
}

.nav a:nth-child(4) {
  background: linear-gradient(90deg, #f14141 0%, #d10b33 100%);
  border: 3px outset #000000;
}

.nav a:nth-child(5) {
  background: linear-gradient(90deg, #ff7951 0%, #f64790 100%);
  border: 3px outset #000000;
}

.nav a:nth-child(6) {
  background: linear-gradient(90deg, #30CD90 0%, #21A6C4 100%);
  border: 3px outset white;
}


/*Login page*/

.button_input {
  background: var(--colorbg90);
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  align-content: center;
  cursor: pointer;
  display: block;
  margin: auto;
  padding: 15px 100px;
  font-weight: bold;
  margin-top: 1rem;
  border-radius: 10px;
  border: none;
  transition: all 300ms ease-in-out;
  text-decoration: none;
  width: 300px;
}

.button_input:hover {
  transform: scale(1.09);
}

/*Profil*/
.MainBtn {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  text-decoration: none;
  text-align: center;
  display: block;
  height: 50px;
  width: 50px;
  line-height: 40px;
  padding: 10px;
  cursor: pointer;
  color: black;
  opacity: 1;
}

.MainBtn:hover {
  color: black;
  opacity: 0.8;
}

.log_title{
  color: var(--colorblack);
}

.BrushBtn {
  position: absolute;
  top: calc(50% - 25px);
  left: calc(85% - 58px);
  text-decoration: none;
  text-align: center;
  display: block;
  height: 40px;
  width: 40px;
  padding: 10px;
  cursor: pointer;
}

.circular-menu {
  width: 240px;
  height: 300px;
  margin: 0 auto;
  position: relative;
  transform: translate(0, -15%);

}

#author {
  font-family: 'Squada One';
  top: calc(50% + 50px);
  left: calc(50% - 225px);
  color: white;
  font-size: 40px;
  text-decoration: none;
  display: block;
  position: absolute;
  text-align: center;
}

.headerProfil {
  background-color: var(--colors1);
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.rond {
  border-radius: 50% 50% 50% 50% / 0% 0% 100% 100%;
  background-color: var(--colors1);
  height: 15px;
}

.grid-item {
  background-color: var(--colors1);
  border-radius: 5px;
  margin: auto 0;

}

.grid-item_text {
  font-size: smaller;
    margin: auto 0;

}

.grid-item_text h2{
  color: var(--colorblack);
}

.form_container {
  display: grid;
  grid-template-columns: 1fr 2fr 0.5fr;
  background-color: #F5F5F5;
  padding: 10%;
  width: 90%;
}

.circle-orange {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: 0 auto;
}

.nav {
  width: 250px;
  height: 250px;
  opacity: 0;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -transform: scale(0);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.open.nav {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -transform: scale(1);
}

.nav a {
  display: block;
  text-decoration: none;
  text-align: center;
  color: #C4C4C4;
  height: 30px;
  width: 30px;
  line-height: 40px;
  margin-left: -25px;
  margin-top: 7px;
  position: absolute;
}

.nav a:hover {
  color: black;
  opacity: 0.5;
}

/*TOP 10*/
.slider-image-wrapper .image_wrapper2 {
  width: 38%;
  transform: translate(0%, 20%);
}


.slider-ranking-rating{
  text-decoration: none;
  font-size: medium;
  font-weight: 600;
  -webkit-transition: all 0.5s ease-out;
  line-height: 0.8;
}

.slider-ranking-rating p{
  text-decoration: none;
  font-size: large;
  font-weight: 600;
  -webkit-transition: all 0.5s ease-out;

}


.slider-ranking-rating span{
  background-image: var(--colorbg90);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-size: large;
  font-weight: 600;
  margin-right: 2%;
}

.slider-item-title-top-title{
  margin-top: 35px;
  font-size: x-large;
  font-family: 'Montserrat', sans-serif;
  color: #283238;
  text-align: center;
  font-weight: 800;
  margin-bottom: 2%;
}

.red-circle {
  position: relative;
  background-image: url(../images/popcorn-logo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  opacity: 0.3;
  transform: translate(-80%, -10%);
  transition: all 300ms ease-in-out;
}


.red-circle:hover {
  opacity: 1;
}

/*** SCROLL BAR ***/
::-webkit-scrollbar {
  width: .60rem;
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb {
  background: var(--colorgrey);
  border-radius: .5rem;
}

/*Profil*/
.container {
  width: 80%;
  margin: 0 auto;
}

.headerProfil {
  background-color: #F5F5F5;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.rond {
  border-radius: 50% 50% 50% 50% / 0% 0% 100% 100%;
  background-color: #F5F5F5;
  height: 15px;
}

.logo {
  margin: 0 auto;
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2%;
  margin-top: 50px;
  text-align: center;
}

.grid-item {
  background-color: #F5F5F5;
  border-radius: 5px;
  padding: 6%;
  height: 70%;
}

.grid-item_text h2 {
  color: black;
  font-weight: 800;
  font-size: 16px;
  text-transform: uppercase;
}

.grid-item_text {
  padding-top: 7%;
}

.grid-item_text p {
  color: black;
  font-weight: 300;
  font-size: 16px;
}

.grid-item_text img {
  padding-top: 3%;
}

.circle-orange {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  opacity: 0.2;
  background-color: transparent;
}

.circle-yellow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  background-color: transparent;
}

.circle-yellow.error {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.headerProfil {
  background-color: #F5F5F5;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

}

.rond {
  border-radius: 50% 50% 50% 50% / 0% 0% 100% 100%;
  background-color: #F5F5F5;
  height: 15px;
}

.logo {
  margin: 0 auto;
}

.form_sign {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.form_sign>div {
  align-items: center;
  margin-bottom: 20px;
}

.form_sign input[type="text"],
.form_sign input[type="password"] {
  width: 100%;
}

.form_sign input[type="submit"] {
  align-self: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2%;
  margin-top: 50px;
  text-align: center;
}

.grid-item {
  background-color: #F5F5F5;
  border-radius: 5px;
  padding: 6%;
  height: 70%;
}


.grid-item_text h2 {
  color: black;
  font-weight: 800;
  font-size: 18px;
  padding-top: 2%;
  text-transform: uppercase;
}

.grid-item_text p {
  color: black;
  font-weight: 300;
  font-size: 16px;
}

.grid-item_text img {
  padding-top: 3%;
}

.form_container {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  background-color: #F5F5F5;
  padding: 10px;
  border-radius: 5px;
  width: 90%;
}

.form_container_text{
  font-size: larger;
}

.circle-orange {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  background-color: transparent;
  opacity: 0.3;

}

.circle-yellow2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  opacity: 0;
}

.circle-blue {
  display: none;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin: 0 auto;

}

.relocate {
  text-decoration: underline;
  text-transform: none;
  color: black;
  display: flex;
  justify-content: center;
  padding-bottom: 1%;
  font-size: 16px;
}


.toggle-password {
  display: flex;
  align-items: center;
  margin-left: 10px;
  cursor: pointer;
}

.toggle-password input {
  margin-right: 5px;
}
