:root{
  --colors3: #D6B0EC;
  --colors5: #8fc6d5;

  --colors1: #E3E9E1;
  --colors2: #1A1E37;
  --colors3: #E99E8F;
  --colors4: #EFD187;
  --colors5: #AED0C6;
  --colors6: #d5bbee;
  --colorwhite: #F5F5F5;
  --colorblack: #000000;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--colors1);
}

/*HEADING*/
h1, h2{
  color: var(--colorblack);
}

select:hover{
  color: var(--colors3);
}

option{
  color: var(--colorblack);
}

.start-ui {
  background-color: var(--colorwhite);
}

#start-btn {
  background-color: var(--colors2);
  color: var(--colorwhite);
}

/* > */
.movie-data .bar {
  position: relative;
  border-bottom: 0.0625rem solid #999;
  display: block;
}

.btn {
  background-color: var(--colorwhite);
}

.btn:active {
  background-color: var(--colors3);
}

.overview::-webkit-scrollbar-track {
  background: transparent;
}

/*This is a match*/
.thisismatch{
  background-color: var(--colorwhite);
}

.NTMText h1{
  color: var(--colors3);
}

.NTMText{
  color: var(--colorblack);
}

.err-msg {
  background-color: var(--colors2);
  color: var(--colorwhite);
}

/*LOADING TEST TINDER*/
.sonar{
  background-color: var(--colors4);
  box-shadow: inset 0px 0px 0px 3px var(--colors3), inset 0px 0px 0px 6px var(--colors1);
}

.profile-pic{
  border: 3px solid var(--colors1);
  background-color: var(--colorwhite);
}

/*Gauge Test*/
.gauge__body {
  background: var(--colors1);
}

.gauge__fill {
  background: linear-gradient(90deg, var(--colors2) 0%, var(--colors2) 100%);
}


.gauge__cover {
  background: var(--colorwhite);
}

.test{
  background: var(--colorwhite);
}

.card__image {
  background: linear-gradient(154deg, var(--colors3) 0%, var(--colors5) 50%, var(--colors4) 80%);
  color: var(--colorblack);
}

.card__header {
  background-color: var(--colorwhite);
}

.card__arc path {
  fill: var(--colorwhite);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.card__thumb {
  background-color: var(--colors5);
}

.card__status {
  color: var(--colors3);
}

.card__description {
  color: var(--colorblack);
}

.btn2 {
  background-color: var(--colorwhite);
}


.btn2:active {
  background-color: var(--colors3);
}


#genre option:checked {
  background-color: var(--colors5);
}

select option:hover {
  background-color: var(--colors1);
}

.purple-heart {
  color: var(--colors4);
}

.purple-heart:nth-child(even){
  color: var(--colors5);
}

/*Footer*/
footer a{
  color: var(--colors2);
}

footer a:hover{
  color: var(--colors2);
}


.slider1::before {
  background-color: var(--colors3);
}

.slider2::before {
  background-color: var(--colors5);
}

.slider3::before {
  background-color: var(--colors6);
}

.slider4::before {
  background-color: var(--colors4);
}



  .swiper-pagination-bullet {
    background: var(--colors1);
  }

  .swiper-pagination-bullet-active {
    background: var(--colors5);
  }

  .swiper-button-next,
  .swiper-button-prev {
    background-color: transparent;
    color: var(--colorblack);
  }

/*swipper*/
.swipper-start{
  background-color: var(--colorwhite);
}

.button_swipper, .button_returnback{
  background-color: var(--colors2);
  color: var(--colorwhite);
}


.none {
  display: none;
}
