:root {
  --colors1: #EAE5E2;
  --colors2: #3D2225;
  --colors3: #B4533A;
  --colors4: #CB895D;
  --colors5: #D8BEA4;

  --colorwhite: #F5F5F5;
  --colorblack: #000000;

}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--colors1);
  /*background: linear-gradient(180deg, rgba(120,174,154,1) 0%, rgba(245,245,245,1) 100%);*/

}

/*HEADING*/
h1,
h2 {
  color: var(--colorblack);
}

select:hover {
  color: var(--colors3);
}

input:focus+label,
input:focus,
select:focus,
button:focus,
.overview:focus {
  outline: none;
  border: none;
}

option {
  color: var(--colorblack);
  font-size: x-small;
}


.start-ui {
  background-color: var(--colorwhite);
}

#start-btn {
  background-color: var(--colors2);
  color: var(--colors1);
}


/*This is a match*/

.thisismatch {
  background-color: var(--colorwhite);
}

.NTMText h1 {
  color: var(--colors3);
}

.NTMText {
  position: relative;
  z-index: 3;
  color: black;
  padding: 3%;
}

.NTMatch {
  background-color: transparent;
}


/*Loader*/

.err-msg {
  background-color: var(--colors2);
  color: var(--colors1);
}

/*LOADING TEST TINDER*/
.sonar {
  z-index: 0;
  background-color: var(--colors4);
  box-shadow: inset 0px 0px 0px 3px var(--colors5), inset 0px 0px 0px 6px var(--colors1);
}


.profile-pic {
  border: 3px solid var(--colors1);
  background-color: var(--colors1);
}

/*Gauge Test*/
.gauge__body {
  background: var(--colors5);
}

.gauge__fill {
  background: linear-gradient(90deg, var(--colors3) 0%, var(--colors4) 100%);
}


.gauge__cover {
  background: var(--colorwhite);
}

.test {
  background: var(--colorwhite);
}

/*Title + description*/
.card__image {
  background: var(--colors2);
  color: var(--colors1);
}

.card__overlay {
  background-color: var(--colors4);
}

.card__header {
  background-color: var(--colors4);
}

/*path corner*/
.card__arc path {
  fill: var(--colors4);
}


.card__thumb {
  background-color: var(--colors5);
}

.card__status {
  color: var(--colors3);
}

.card__description {
  color: var(--colorblack);
}

.btn2 {
  background-color: var(--colorwhite);
}

.btn2:active {
  background-color: var(--colors3);
}


#genre option:checked {
  background-color: var(--colors5);
}

select option:hover {
  background-color: var(--colors1);
}

.purple-heart {
  color: var(--colors4);
}

.purple-heart:nth-child(even) {
  color: var(--colors5);
}

/*Footer*/
footer a {
  color: var(--colors2);
}

footer a:hover {
  color: var(--colors2);
}

/*slider*/
.slider-image-wrapper::before {
  /*background-color: #D7E1E1;*/
  background-color: var(--colors3);
}

.swiper-pagination-bullet {
  background: var(--colors1);
}

.swiper-pagination-bullet-active {
  background: var(--colors5);
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--colorblack);
}

/*swipper*/
.swipper-start {
  background-color: var(--colorwhite);
}